/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 50rem;
  padding: 0 2rem 2rem 2rem;
  text-align: left;
}

.row {
  flex-direction: row;
}

.formRow {
  align-items: center;
  padding: 0.2rem 0;
}

.col {
  display: inline-block;
}

.labelCol {
  width: 10rem;
}

.valueCol {
  width: 5rem;
  text-align: right;
}

.wideValueCol {
  width: 100%;
  max-width: 15rem;
  text-align: left;
}

.unitCol {
  width: 2rem;
  padding-left: 0.4rem;
}

.inputField {
  width: 100%;
}

.constantField {
  border: none;
  background-color: white;
  color: black;
}

.totalFeeRow {
  font-weight: bold;
}
